@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Muli);

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  margin:0;
  padding:0;
  background-color:#6d0f90;
  font-family:Muli, sans-serif;
  color: #6d0f90;
}
ul {
  list-style:none;
  margin-top:0;
  padding:0;
}
a {
  cursor:pointer;
  display:block;
  color:#58bbd1;
  text-decoration:none;
}
.bckg {
  background-color: #6d0f90;
  box-shadow:-4px 0px 10px rgba(14, 14, 14, 0.48) inset;
  width:200px;
  height:100%;
  position:fixed;
  left:0;
  top:0;
}
h1 {
    text-align: center;
    font-weight: normal;
    color: #F6F6EF;
    line-height:60px;
    margin:0;
    font-size:20px;
    letter-spacing:2px;
    background-color:#6d0f90;
    border-bottom:1px solid rgba(205, 187, 23, 0.57);
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  color: rgba(205, 187, 23, 0.57);
  font-weight: normal;
  padding-left: 40px;
  line-height: 60px;
  text-shadow: 1px 1px 2px #fff;
  position: relative;
  flex:1;
  -webkit-flex:1;
  -ms-flex:1;
  
  &:before {
    content:'';
    width: 36px;
    height: 36px;
    position: absolute;
    left: -19px;
    top: 12px;
    background-color:rgba(112, 12, 134, 0.948);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
  }
}
h3 {
  font-size:17px;
  margin:0;
  line-height: 40px;
  color: rgba(205, 187, 23, 0.57);
  cursor:pointer;
  position:relative;
}

header {
  width:200px;
  height:100%;
  float:left;
  position:relative;
  z-index:99;
  
  & nav ul li {
    border-bottom:1px solid rgba(205, 187, 23, 0.57);
    padding-left:48px;
    transition:all 0.6s;
    border-top:1px solid rgba(205, 187, 23, 0.57);
      
      &:hover {
        background-color: rgba(205, 187, 23, 0.57);
        transition: all 0.6s;
        border-bottom: 1px solid rgba(205, 187, 23, 0.57);
      }
      
      &:hover a {
        color:#fff;
        transition:all 0.6s;
      }
      
      & a {
        line-height:55px;
        font-size:18px;
        position:relative;
        letter-spacing:1px;
        transition:all 0.6s;
      
        &:before {
          font-family: 'entypo', sans-serif;
          font-size:20px;
          position:absolute;
          left:-32px;
        }
      }
    
      &:first-child a:before {content:"\268f";}
      &:nth-child(2) a:before {content:"\1f465";}
      &:nth-child(3) a:before {content:"\1f4c5";}
      &:nth-child(4) a:before {content:"\e771";}
      &:nth-child(5) a:before {content:"\2699";}
      &:nth-child(6) a:before {content:"\1f50d";}
  }
}

main {
  flex:1;
  -webkit-flex:1;
  -ms-flex:1;
}
.title {
  background-color: #681ea0;
  border-bottom: 1px solid #d68cd6;
  height:60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  
  & a {
    color: #AAA;
    width: auto;
    margin: 0 20px;
    float: right;
    line-height: 62px;
    position:relative;
    text-decoration:none;
    transition:all .5s;
    
    &:before {
      content:"\1f464";
      font-size: 38px;
      position:absolute;
      left:-50px;
      font-family: 'entypo';
    }
  }
}

a:hover {
  color:#33526B;
  transition:all .5s;
}

.larg {
  max-width:960px;
  margin:30px auto;
  padding:0 30px;
  
  & div {
    background-color: #F7F7F7;
    border: 1px solid #E2E2E2;
    padding: 0 20px;
    margin:15px 0;

    &:hover {
        background-color:#fafafa;
    }
    
    h3 span {
      font-family: 'entypo';
      font-size:19px;
      position:absolute;
      right:0;
      transition:all .6s;
    
      &.close {
        -webkit-transform:rotate(180deg);
        transition:all .5s;
      }
    }
    
    & p {
      display:none;
      margin-left:10px;
      padding:0 15px;
      border-left:1px solid #ccc;
    }
  }
}
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    margin-bottom: 1rem;
  }




  .btn {
    background: #8c34d9;
    background-image: -webkit-linear-gradient(top, #8c34d9, #6f2bb8);
    background-image: -moz-linear-gradient(top, #8c34d9, #6f2bb8);
    background-image: -ms-linear-gradient(top, #8c34d9, #6f2bb8);
    background-image: -o-linear-gradient(top, #8c34d9, #6f2bb8);
    background-image: linear-gradient(to bottom, #8c34d9, #6f2bb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #3b0f40;
    font-size: 27px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1e0430;
    background-image: -webkit-linear-gradient(top, #1e0430, #631aeb);
    background-image: -moz-linear-gradient(top, #1e0430, #631aeb);
    background-image: -ms-linear-gradient(top, #1e0430, #631aeb);
    background-image: -o-linear-gradient(top, #1e0430, #631aeb);
    background-image: linear-gradient(to bottom, #1e0430, #631aeb);
    text-decoration: none;
  }

/* */




