body {
    font-family: 'Karla', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    color: rgb(86, 7, 112); /* Purple */
}

.container {
    max-width: 800px;
    margin-top: 50px;
}

.table thead {
    background-color: rgb(86, 7, 112); /* Purple */
    color: white;
}

.btn-primary {
    background-color: rgb(86, 7, 112); /* Purple */
    border-color: rgb(86, 7, 112);
}

.btn-primary:hover {
    background-color: rgb(31, 193, 193); /* Teal */
    border-color: rgb(31, 193, 193);
}

.btn-danger {
    background-color: rgb(216, 199, 8); /* Yellow */
    border-color: rgb(216, 199, 8);
}

.btn-danger:hover {
    background-color: rgb(86, 7, 112); /* Purple */
    border-color: rgb(86, 7, 112);
}

.btn-warning {
    background-color: rgb(31, 193, 193); /* Teal */
    border-color: rgb(31, 193, 193);
}

.btn-warning:hover {
    background-color: rgb(216, 199, 8); /* Yellow */
    border-color: rgb(216, 199, 8);
}
